#header1 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background: #ee9ca7;  /* fallback for old browsers */
            background: -webkit-linear-gradient(left, #ffdde1, #ee9ca7);
            background: -o-linear-gradient(left, #ffdde1, #ee9ca7);
            background: linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding-left: 10px;
}               

.nav {
    background-color: black;

}

#upperlogo {
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------LINKS-----------------------------------------------------
 */
a:link {
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    word-spacing: 5px;
    list-style: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.list {
    background-color: black;
    color: white;
}

/* ------------------------------------ACTUAL BODY------------------------------------------- */

#insurance {position:absolute;
            top:2%;
            left:2%;
            color:white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 3px;

   }
.container div {
    background-color: black;
    color: white;
    margin: 3px;
}

#imagecontainer {
                 position:relative;
}

#imagecontainer img {width: 100%;
}

@media only screen and (max-width: 480px) {
    #quote {background-color:red;     
    }
}

#quote {
    position:absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    background-color:rgba(255,255,255,0.5);
    font-weight: bold;
    text-shadow: 1px;
    text-align:center;
    border: 2px solid grey;
    padding:20px 20px 20px 20px;
    font-size:1.5em;
    height:90%;
}
.inputs {display:flex;
         flex-direction:column;
         width:50%;
}
.inputs input {height:30px;
}
.inputs select {height:30px;

}

.inputcontainer {display:flex;
                 justify-content:space-between;
}

#btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* ............................................ */


/* ...............................................
 */
#uncomplicated {
background: linear-gradient(to right, #2c3e50, #bdc3c7);
    
    text-align:center;   
    font-size:2em;
    padding-top:90px;
}

#comp:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
/* .............................................. */
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flipcards {
    margin-top: 100px;
    margin-bottom: 150px;
    border: 2px solid black;
}

.flipcards:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.flipcards li {
    list-style-type: none;
}

/* ----------------------------------FOOTER------------------------------------------------------ */
#footercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

footer p {
    display: inline;
    color: white;
}

#federico {
    margin-top: 100px;
    margin-left: 350px;
}